@font-face{
font-family:"Kettering 105";
font-weight: 100;
src:url("http://www.lifeassist.org.au/templates/life_assist/fonts/b31665b4-88a4-4e8b-bb9c-df75b1d2594a.eot?#iefix");
src:url("http://www.lifeassist.org.au/templates/life_assist/fonts/b31665b4-88a4-4e8b-bb9c-df75b1d2594a.eot?#iefix") format("eot"),url("http://www.lifeassist.org.au/templates/life_assist/fonts/a126bc19-9680-4900-85d0-c98a1a902a95.woff") format("woff"),url("http://www.lifeassist.org.au/templates/life_assist/fonts/bfd48c18-716d-4fc6-a026-42370655e7fa.ttf") format("truetype"),url("http://www.lifeassist.org.au/templates/life_assist/fonts/cf852f88-5630-42bf-923c-9467cb489475.svg#cf852f88-5630-42bf-923c-9467cb489475") format("svg");
}
@font-face{
font-family:"Kettering 105";
font-weight: 400;
src:url("http://www.lifeassist.org.au/templates/life_assist/fonts/5d0e7178-ffaa-4106-a75f-f55b3942cd3f.eot?#iefix");
src:url("http://www.lifeassist.org.au/templates/life_assist/fonts/5d0e7178-ffaa-4106-a75f-f55b3942cd3f.eot?#iefix") format("eot"),url("http://www.lifeassist.org.au/templates/life_assist/fonts/c9f28ccf-b57b-42f0-a9b2-069bc432d930.woff") format("woff"),url("http://www.lifeassist.org.au/templates/life_assist/fonts/f7723f3e-ff79-45ac-9a45-4d161b9a7273.ttf") format("truetype"),url("http://www.lifeassist.org.au/templates/life_assist/fonts/13adf849-0bc3-420d-83d5-d971600e34e6.svg#13adf849-0bc3-420d-83d5-d971600e34e6") format("svg");
}

@font-face{
	font-family:"Proxima Nova";
	font-weight: 400;
	font-style: normal;
src:url("http://www.lifeassist.org.au/templates/life_assist/fonts/7e90123f-e4a7-4689-b41f-6bcfe331c00a.eot?#iefix");
src:url("http://www.lifeassist.org.au/templates/life_assist/fonts/7e90123f-e4a7-4689-b41f-6bcfe331c00a.eot?#iefix") format("eot"),url("http://www.lifeassist.org.au/templates/life_assist/fonts/e56ecb6d-da41-4bd9-982d-2d295bec9ab0.woff") format("woff"),url("http://www.lifeassist.org.au/templates/life_assist/fonts/2aff4f81-3e97-4a83-9e6c-45e33c024796.ttf") format("truetype"),url("http://www.lifeassist.org.au/templates/life_assist/fonts/ab9cd062-380f-4b53-b1a7-c0bec7402235.svg#ab9cd062-380f-4b53-b1a7-c0bec7402235") format("svg");
}
@font-face{
	font-family:"Proxima Nova";
	font-weight: 400;
	font-style: italic;
src:url("http://www.lifeassist.org.au/templates/life_assist/fonts/bc15a635-a09b-40d1-a5c4-70310166177d.eot?#iefix");
src:url("http://www.lifeassist.org.au/templates/life_assist/fonts/bc15a635-a09b-40d1-a5c4-70310166177d.eot?#iefix") format("eot"),url("http://www.lifeassist.org.au/templates/life_assist/fonts/9c69c878-2255-4027-8632-ed3635cddf45.woff") format("woff"),url("http://www.lifeassist.org.au/templates/life_assist/fonts/b7eb3871-e910-4522-9982-effb425a2714.ttf") format("truetype"),url("http://www.lifeassist.org.au/templates/life_assist/fonts/a0d89860-20e5-4bc0-b6c5-eae8ae0ebbbf.svg#a0d89860-20e5-4bc0-b6c5-eae8ae0ebbbf") format("svg");
}

@font-face{
	font-family:"Proxima Nova";
	font-weight: 700;
	font-style: normal;
src:url("http://www.lifeassist.org.au/templates/life_assist/fonts/87e4b4fc-cdf1-450a-8bed-dd818cba908d.eot?#iefix");
src:url("http://www.lifeassist.org.au/templates/life_assist/fonts/87e4b4fc-cdf1-450a-8bed-dd818cba908d.eot?#iefix") format("eot"),url("http://www.lifeassist.org.au/templates/life_assist/fonts/70ae52ec-d89b-4c6a-9402-854ebe423c54.woff") format("woff"),url("http://www.lifeassist.org.au/templates/life_assist/fonts/6a35571c-ea14-4dac-9ae1-0e7af0abeec8.ttf") format("truetype"),url("http://www.lifeassist.org.au/templates/life_assist/fonts/ac2bdafc-d4a8-49d0-8a10-4e2f16bf7e3c.svg#ac2bdafc-d4a8-49d0-8a10-4e2f16bf7e3c") format("svg");
}
@font-face{
	font-family:"Proxima Nova";
	font-weight: 700;
	font-style: italic;
src:url("http://www.lifeassist.org.au/templates/life_assist/fonts/06ebb3e2-5f11-4e26-8736-0f7acb3c7743.eot?#iefix");
src:url("http://www.lifeassist.org.au/templates/life_assist/fonts/06ebb3e2-5f11-4e26-8736-0f7acb3c7743.eot?#iefix") format("eot"),url("http://www.lifeassist.org.au/templates/life_assist/fonts/d2a02f92-9826-4117-ae36-8fcfd72ad46e.woff") format("woff"),url("http://www.lifeassist.org.au/templates/life_assist/fonts/d786d7d1-696a-47f9-9d03-7608fcb29cc4.ttf") format("truetype"),url("http://www.lifeassist.org.au/templates/life_assist/fonts/e7fe23f1-b364-4a20-905a-86ed7e89efae.svg#e7fe23f1-b364-4a20-905a-86ed7e89efae") format("svg");
}