/* COLORS */
$colorOrange    : #ffb80e;
$colorOrangeMid : #fba616;
$colorOrangeNew : #f7941e;
$colorBlue      : #3d8dcb;
$colorLightBlue : #67bdff;

$colorLightGray : #d7d7d7;
$colorMidGray   : #505152;
$colorDarkGray  : #343536;

$brandColor     : $colorOrangeMid;


/* FONT */
$fontProximaNova : 'Proxima Nova', sans-serif;
$fontKettering   : 'Kettering 105', sans-serif;

$defaultFont     : $fontProximaNova;
$headingFont     : $fontKettering;