@import "_normalize";
@import "_helpers";


/*
	BLOCKS HELPER CSS
*/

/* stretches text regions to full width */
body.edit div#blocks-wrapper div#inner-blocks-wrapper textarea {
	width: 100%;
}


/*
	these rules will show max/min image dimensions on image regions using the existing
*/
body.blocks div#blocks-wrapper div#inner-blocks-wrapper .image-region-wrapper div.blocks-element {
	position: absolute;
	top: 0;
	left: 136px;
	background: white;
	font-size: 11px;
	line-height: 1em;
	padding: 5px 5px 6px 5px;
	margin: 1px;
	display: block;
}
.ie7 body.blocks div#blocks-wrapper div#inner-blocks-wrapper .image-region-wrapper div.blocks-element { display: none; }

body.blocks div#blocks-wrapper div#inner-blocks-wrapper .image-region-wrapper div.blocks-element .width,
body.blocks div#blocks-wrapper div#inner-blocks-wrapper .image-region-wrapper div.blocks-element .height,
body.blocks div#blocks-wrapper div#inner-blocks-wrapper .image-region-wrapper div.blocks-element .asset-id { 	display: none; }

body.blocks div#blocks-wrapper div#inner-blocks-wrapper .image-region-wrapper div.blocks-element .min-width { }
body.blocks div#blocks-wrapper div#inner-blocks-wrapper .image-region-wrapper div.blocks-element .min-width:before { content: 'Min.: '; }
body.blocks div#blocks-wrapper div#inner-blocks-wrapper .image-region-wrapper div.blocks-element .min-width:after { content: ' x'; }

body.blocks div#blocks-wrapper div#inner-blocks-wrapper .image-region-wrapper div.blocks-element .min-height { }
body.blocks div#blocks-wrapper div#inner-blocks-wrapper .image-region-wrapper div.blocks-element .min-height:after { content: 'px'; }

body.blocks div#blocks-wrapper div#inner-blocks-wrapper .image-region-wrapper div.blocks-element .max-width { }
body.blocks div#blocks-wrapper div#inner-blocks-wrapper .image-region-wrapper div.blocks-element .max-width:before { content: '| Max.: '; }
body.blocks div#blocks-wrapper div#inner-blocks-wrapper .image-region-wrapper div.blocks-element .max-width:after { content: ' x'; }

body.blocks div#blocks-wrapper div#inner-blocks-wrapper .image-region-wrapper div.blocks-element .max-height { }
body.blocks div#blocks-wrapper div#inner-blocks-wrapper .image-region-wrapper div.blocks-element .max-height:after { content: 'px'; }

.repeatable-container-tools,
.repeatable-area-tools {
	-webkit-box-sizing: content-box;
	   -moz-box-sizing: content-box;
	        box-sizing: content-box;
}

.blocks_help {
	display: block;
	padding: 10px;
	margin: 10px 0 10px 0;
	color: white;
	background-color: #39C;
	border: 2px solid #1E6081;
	border-radius: 5px;
	font-size: 14px;
	width: 80%;
}



.video-region-wrapper {
	position: relative;
}



body {
	background-color: #eee !important;
}

#edit_container {
	margin: 0 auto;
	padding: 0px 0px;
	width: 600px;
	border-left: 1px solid #ccc;
	border-right: solid 1px #ccc;
	box-shadow: 0 0 8px rgba(0,0,0,0.2);
	background-color: white;

	.spacer {
		background-color: #aaa;
		height: 1px;
		overflow: hidden;
		margin: 2em 10px;
	}
}

.h1 {
	color: #333;
	font-size: 26px;
	line-height: 1.2em;
	margin: 0 0 15px 0;
	padding: 0 10px;
	display: block;
}

.h2 {
	color: #777;
	font-size: 22px;
	line-height: 1.2em;
	margin: 0 0 10px 0;
	padding: 0 10px;
}

.h1 + .h2 {
	margin-top: -10px;
}

.el_wrap {
	padding: 10px;
	margin: 0 0 20px 0;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;

	.image-region-wrapper, .video-region-wrapper {
		> img {
			max-width: 100%;
			height: auto;
		}
	}

	label {
		display: block;
		color: #333;
		font-size: 12px;
		line-height: 1.2em;
		font-weight: bold;
		margin: 0 0 10px 0;
	}

	.text-region-wrapper {

		+ label {
			margin-top: 10px;
		}

		textarea,
		input.char_limit,
		input[disabled] {
			-webkit-box-sizing: border-box;
			   -moz-box-sizing: border-box;
			        box-sizing: border-box;
		}
	}

	textarea {
		resize: vertical;
	}

	input.char_limit {
		width: 90%!important;
	}

	input[disabled] {
		width: 10%!important;
		color: white;
		background: #666;
		text-align: center;
		border: 0;
	}
}

.el_wrap + .el_wrap {
	margin-top: 15px;
}

.el_row {
	overflow: hidden;

	.el_wrap {
		width: 49%;
		float: left;
	}

	.el_wrap + .el_wrap {
		margin-left: 2%;
		margin-top: 0;
	}
}


.edit_section {
	position: relative;

	+ .edit_section {
		border-top: 2px solid #ccc;
	}

	p {
		padding: 0 10px;
	}
}

.section_heading {
	position: relative;

	.h1 {
		padding: 10px;
		margin: 0;
		border: 2px solid white;
		background-color: #f5f5f5;
		cursor: pointer;
	}
}

.section_checkbox {
	position: absolute;
	opacity: 0;
	filter: alpha(opacity=0);
}

.section_toggle {
	display: block;
	position: absolute;
	cursor: pointer;
	top: 0;
	right: 0;
	text-decoration: underline;
	padding: 10px;
	line-height: 35px;
}

.section_content {
	display: none;
	padding: 10px 0;

	.el_row {
		padding: 0 10px;

		.el_wrap {
			padding: 0;
		}
	}
}

.section_checkbox:checked + .section_content {
	display: block;
}