.start_search {
	position: absolute;
	display: block;
	top: 0em;
	right: 0em;
	width: 3.5em;
	height: 3.5em;
	line-height: 3.5em;

	.icon-search {
		background-image: url(../img/site/icon_sprite_search.png);
		position: absolute;
		display: block;
		top: 50%;
		left: 50%;
		width: 26px;
		height: 26px;
		margin: -13px 0 0 -13px;
		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: 52px auto;
	}
}



.show-search-form {
	.start_search {
		.icon-search {
			background-position: -26px 0;
		}
	}

	.search-box {
		display: block;
		top: 100%;
		opacity: 1;
	}
}

.ie8 {
	.start_search {
		.icon-search {
			top: 0;
			background-position: 0 -52px;
		}
	}

	.show-search-form {
		.start_search {
			.icon-search {
				background-position: -26px -52px;
			}
		}
	}
}


.search-box {
	/*display: none;*/
	position: absolute;
	left: 0;
	top: -20%;
	width: 100%;
	background-color: white;
	z-index: 10;
	border-bottom: 1px solid $colorLightGray;
	opacity: 0;
	-webkit-box-shadow: 0 10px 10px -5px rgba(0,0,0,0.2);
	   -moz-box-shadow: 0 10px 10px -5px rgba(0,0,0,0.2);
	        box-shadow: 0 10px 10px -5px rgba(0,0,0,0.2);
	-webkit-transition: all 0.5s;
	   -moz-transition: all 0.5s;
	        transition: all 0.5s;
}

.search-form {
	position: relative;
	padding: 1em;

	input[type=text] {
		color: $colorLightBlue;
		margin: 0 220px 0 0;
		font-family: $headingFont;
		font-size: 2em;
		line-height: 1em;
		padding: 0.25em 0;
		margin: 0;
		border: 0;
		outline: none;
	}

	::-webkit-input-placeholder { color: currentColor; }
	:-moz-placeholder           { color: currentColor; }
	::-moz-placeholder          { color: currentColor; }
	:-ms-input-placeholder      { color: currentColor; }

	button {
		position: absolute;
		top: 1em;
		right: 1em;
		width: 200px;
		color: $colorDarkGray;
		background-color: $colorLightBlue;
		padding: 0.75em 0;
		margin: 0;
		border: 0;
		outline: none;
	}
}

.search-result-list {
	display: none;
	padding: 0 1em 1em 1em;
}

a.search-result {
	
	position: relative;
	display: block;
	padding: 1em 1em 1em 0;

	color: $colorDarkGray;
	border-top: 1px solid $colorLightGray;
	
	.search-result-title {
		display: block;
		margin: 0 0 0.25em 0;
		-webkit-transition: color 0.25s;
		   -moz-transition: color 0.25s;
		        transition: color 0.25s;
	}

	.search-result-description {
		display: block;
	}

	.arrow {
		position: absolute;
		top: 1em;
		right: 0em;
		color: $colorMidGray;
		-webkit-transition: background-color 0.25s;
		   -moz-transition: background-color 0.25s;
		        transition: background-color 0.25s;
	}

	&:hover {
		.search-result-title {
			color: $brandColor;
		}

		.arrow {
			color: $brandColor;
			background-color: white;
		}
	}
}

@media screen and (max-width:40em){
	.search-form {
		input[type=text] {
			margin: 0 0 0 0;
		}

		button {
			display: block;
			position: relative;
			top: 0;
			right: 0;
			width: 100%;
		}
	}

	a.search-result {
		padding: 0.5em 1em 0.5em 0;

		.search-result-description {
			font-size: 0.85em;
			line-height: 1.2em;	
		}
	}
}

@media screen and (max-width:64em){

}

@media screen and (min-width:64em){
	.start_search {
		width: 32px;
		height: 5em;
		line-height: 5em;

		img {
			width: 26px;
			height: 26px;
		}
	}
}